# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment local overrides
.env.local
.env.*.local

# Node / Frontend
frontend/node_modules/
frontend/dist/

# PHP / Symfony / Backend
backend/vendor/
backend/var/
backend/public/bundles/
backend/.phpunit.cache/
backend/phpunit.xml
backend/config/jwt/*.pem
!backend/config/jwt/.gitkeep
